In [84]:
from bs4 import BeautifulSoup
import pandas as pd

In [85]:
with open('offline/transdetails.htm', 'r') as f:
    trans_doc = f.read()
soup = BeautifulSoup(trans_doc, 'html.parser')

In [86]:
trans_table = soup.find("table")

In [87]:
records = []
for row in trans_table.findAll('tr'):
    col = row.findAll('td')
    if len(col) > 0:
        episodes = ''.join(str(child) for child in col[0].children).replace('</br>', '').replace('<br/>', '').split('<br>')
        series = ''.join(str(child) for child in col[1].children).replace('</br>', '').replace('<br/>', '').split('<br>')
        trans_dates = ''.join(str(child) for child in col[2].children).replace('</br>', '').replace('<br/>', '').split('<br>')
        record_dates = ''.join(str(child) for child in col[4].children).replace('</br>', '').replace('<br/>', '').split('<br>')
        for e, s, t, r in zip(episodes, series, trans_dates, record_dates):
            records.append({
                'episode': e.strip(),
                'series': s.strip(),
                'transmission_date': t.strip(),
                'record_date': r.strip()
            })

In [88]:
df = pd.DataFrame(records)
df['transmission_date'] = pd.to_datetime(df['transmission_date'])
df['record_date'] = pd.to_datetime(df['record_date'])

In [89]:
df

   episode record_date series transmission_date
0        1  1969-09-07    1/1        1969-10-05
1        2  1969-08-30    1/2        1969-10-12
2        3  1969-08-14    1/3        1969-10-19
3        4  1969-09-21    1/4        1969-10-26
4        5  1969-10-03    1/5        1969-11-16
5        6  1969-11-05    1/6        1969-11-23
6        7  1969-10-10    1/7        1969-11-30
7        8  1969-11-25    1/8        1969-12-07
8        9  1969-12-07    1/9        1969-12-14
9       10  1969-11-30   1/10        1969-12-21
10      11  1969-12-14   1/11        1969-12-28
11      12  1969-12-21   1/12        1970-01-04
12      13  1970-01-04   1/13        1970-01-11
13      14  1970-07-09    2/1        1970-09-15
14      15  1970-07-02    2/2        1970-09-22
15      16  1970-07-16    2/3        1970-09-29
16      17  1970-09-18    2/4        1970-10-20
17      18  1970-09-10    2/5        1970-10-27
18      19  1970-09-10    2/6        1970-11-03
19      20  1970-10-02    2/7        1970-11-10
20      21  1970-10-09    2/8        1970-11-17
21      22  1970-09-25    2/9        1970-11-24
22      23  1970-07-02   2/10        1970-12-01
23      24  1970-07-23   2/11        1970-12-08
24      25  1970-06-25   2/12        1970-12-15
25      26  1970-10-16   2/13        1970-12-22
26      27  1972-01-14    3/1        1972-10-19
27      28  1972-01-28    3/2        1972-10-26
28      29  1971-12-04    3/3        1972-11-02
29      30  1971-12-11    3/4        1972-11-09
30      31  1972-04-24    3/5        1972-11-16
31      32  1972-01-21    3/6        1972-11-23
32      33  1972-01-07    3/7        1972-11-30
33      34  1972-05-04    3/8        1972-12-07
34      35  1972-05-11    3/9        1972-12-14
35      36  1972-05-25   3/10        1972-12-21
36      37  1972-04-17   3/11        1973-01-04
37      38  1971-12-18   3/12        1973-01-11
38      39  1972-05-18   3/13        1973-01-18
39      40  1974-10-12    4/1        1974-10-31
40      41  1974-10-19    4/2        1974-11-07
41      42  1974-10-26    4/3        1974-11-14
42      43  1974-11-02    4/4        1974-11-21
43      44  1974-11-09    4/5        1974-11-28
44      45  1974-11-16    4/6        1974-12-05

In [91]:
df.to_excel('transmission_details.xlsx')