In [1]:
import pandas as pd

In [2]:
detail_df = pd.read_excel('transmission_details.xlsx')

In [3]:
detail_df.head()

   episode record_date series transmission_date
0        1  1969-09-07    1/1        1969-10-05
1        2  1969-08-30    1/2        1969-10-12
2        3  1969-08-14    1/3        1969-10-19
3        4  1969-09-21    1/4        1969-10-26
4        5  1969-10-03    1/5        1969-11-16

In [4]:
scripts_df = pd.read_excel('excel/full.xlsx')

In [5]:
scripts_df.head()

,episode,episode_name,segment,type,actor,character,detail
0,1,Episode One: Whither Canada?,NaN,Direction,NaN,NaN,A seashore. Some way out to sea a ragged man i...
1,1,Episode One: Whither Canada?,NaN,Dialogue,Michael Palin,It's Man,It's...
2,1,Episode One: Whither Canada?,NaN,Dialogue,John Cleese,Voice Over,Monty Python's Flying Circus.
3,1,Episode One: Whither Canada?,NaN,Direction,NaN,NaN,"Titles beginning with words ""Monty Python's Fl..."
4,1,Episode One: Whither Canada?,NaN,Direction,NaN,NaN,Ordinary grey-suited announcer standing by des...

In [6]:
df = scripts_df.merge(detail_df, on=['episode'])

In [13]:
df.to_excel('merged.xlsx')

In [10]:
import sqlite3
conn = sqlite3.connect('database.sqlite')
df.to_sql(con=conn, name='scripts')

In [11]:
conn.close()